
.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 22.75rem;
    height: 17rem;
    padding: 24px;
    border-radius: 8px;
}