table {
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.second{
    background-color: #e9fffd;
}

.titulo-card {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    vertical-align: top;
    color: #000000;
  }
