form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 45rem;
    background: #FFFFFF;
    border-radius: 8px;
}

#new-pet {
    margin-right: 330px;
    font-size: 24px;
    padding-top: 10px;
    font-weight: bold;
}

.pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    border: transparent 1px solid;
    cursor: pointer;
}
.pets img{
    height: 64px;
    width: 64px;
    border-radius: 800px;

}

input[type="radio"]:checked + label{
    background: rgba(34, 183, 126, 0.2);
    border: #04AD34 1px solid;
}

input[type="radio"]{
    display: none;
}

#animals {
    margin:20px auto;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}    

button[id="male"],button[id="female"]{
    
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 4px 15px;
}

button[id="female"]{
    border: 2px solid #FF8FCB;
}

button[id="female"]:hover{
    cursor: pointer;
    background-color: #fac0de;
}

button[id="female"]:active{
    background-color: #fac0de;
}

button[id="male"]{
    border: 2px solid #8FB5FF;
}

button[id="male"]:hover{
    background-color: #bcd2fc;
}

button[id="male"]:active{
    background-color: #bcd2fc;
}

input[id="inputs"], input[id="weight"]{
    padding: 0.3rem;
    width: 20rem;
    border-radius: 8px;
    border: 1px solid #22B77E;
    background: #F5FFFE;
    margin-top: 17px;
}

input[id="inputs"]::placeholder {
    position: absolute; 
    left: 5px;
}

textarea[id="obs"]{
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #22B77E;
    background: #F5FFFE;
    margin-top: 17px;
    width: 20rem;
    height: 132px;
    resize:none
}

textarea[id="obs"]::placeholder{
    margin: auto;
}

select[id="races"]{
    padding: 0.3rem;
    border-radius: 8px;
    border: 1px solid #22B77E;
    background: #F5FFFE;
    margin-top: 17px;
    width: 20rem;
}

select[id="coat"]{
    padding: 0.3rem;
    border-radius: 8px;
    border: 1px solid #22B77E;
    background: #F5FFFE;
    margin-top: 17px;
    width: 20rem;
}

div[id="buttons"] {
    padding-top: 1rem;
}

button[id="adicionar"] {
    background: #04AD34;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 45px;
}

button[id="adicionar"]:hover {
    cursor: pointer;
    background-color: #12be18;
  }

button[id="cancelar"] {
    margin: auto;
    background: #DC3545;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
}

button[id="cancelar"]:hover {
    cursor: pointer;
    background: #c7303f;
  }