@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  @apply bg-[#d2f8ff]
}

body{
  @apply bg-gray-white min-h-screen
}

.nav-link{
  @apply relative px-6 py-4 text-white rounded-tl-full rounded-bl-full transition-colors cursor-pointer
}

.layout-main{
  @apply flex min-h-screen gap-10
}

.f::after, .f::before{
  @apply w-6 h-6 bg-primary absolute right-0
}

.f::after{
  box-shadow: 5px 5px 0 5px #F5F7FB;
  @apply rounded-br-3xl -top-6;
}

.f::before{
  box-shadow: 5px -5px 0 5px #F5F7FB;
  @apply rounded-tr-3xl -bottom-6;
}

input:focus{
  @apply outline-none
}

.new-notifify::after{
  content: "";
  @apply w-2 h-2 rounded-full bg-secundary absolute top-[2px] right-[2px] block
}

.radio:checked + div{
  @apply border-secundary border-[3px]
}
.radio:checked + div + span{
  @apply font-semibold
}


table {
  @apply text-center rounded overflow-hidden
}

th, td{
  @apply border border-[#5B5B5B]
}


.second{
  @apply bg-[#e9fffd]
}

.titulo-card {
  @apply font-semibold text-2xl leading-relaxed text-black
}


/* =x=x=x=x=x==x=x=x=x==x=x=x=x==x=x=x=x=x=x */
/* CALENDAR */

.box-calendar{
  @apply w-8 h-8  border-transparent flex justify-center items-center text-lg cursor-pointer
}

.box-calendar input[type="radio"]:disabled + div, .box-calendar.week{
  @apply cursor-default
}

.box-calendar > div{
  @apply p-1 rounded-lg w-full h-full flex items-center justify-center
}

.box-calendar > input[type="radio"]{
  @apply hidden;
}

.box-calendar > input[type="radio"]:checked + div{
  @apply bg-primary text-white;
}

.week{
  @apply text-zinc-400
}

.day{
  @apply bg-slate-200
}

.last-month{
  @apply text-zinc-500
}

.today{
  @apply border-secundary bg-transparent border-4;
}

.active{
  @apply bg-[#22937E] text-white;
}

.container-dropdown-input input:checked + label{
  @apply bg-primary text-white
}