#header{
    display: flex;
    margin: 2rem auto;
    padding-left: 18.2rem;
    font-size: 18px;
    align-items: center;
}

#dogs{
    background: #F5FFFE;
    margin-left: 0.75rem;
    width: 170px;
    font-weight: bold;
    height: 30px;
    border: 1px solid #22B77E;
    border-radius: 8px;
}

#revenues{
    margin: 2rem;
}

#revenue1 {
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    justify-content: space-between;
    padding: 12px 92px;
    width: 1084px;
    height: 46px;
    background: #F5FFFE;
    border: 1px solid #22B77E;
    border-radius: 8px;
}

#revenue1:hover {
   background-color: #d2eee4;
}

#revenue2 {
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    justify-content: space-between;
    padding: 12px 92px;
    width: 1084px;
    height: 46px;
    background: #F5FFFE;
    border: 1px solid #22B77E;
    border-radius: 8px;
}

#revenue2:hover {
    background-color: #d2eee4;
 }

#revenue3 {
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    justify-content: space-between;
    padding: 12px 92px;
    width: 1084px;
    height: 46px;
    background: #F5FFFE;
    border: 1px solid #22B77E;
    border-radius: 8px;
}

#revenue3:hover {
    background-color: #d2eee4;
 }

#revenue4 {
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    justify-content: space-between;
    padding: 12px 92px;
    width: 1084px;
    height: 46px;
    background: #F5FFFE;
    border: 1px solid #22B77E;
    border-radius: 8px;
}

#revenue4:hover {
    background-color: #d2eee4;
 }

#return{
    display: flex;
    padding-left: 7rem;
    margin: 2rem auto;
    font-size: 14px;
}

#prescription{
    width: 595px;
    height: 892px;
    margin: 2rem auto;
    background: #FFFFFF;
    border: 1px solid #22B77E;
}

#information{
    display: flex;
    padding: 16px 12px;
    width: 593px;
    height: 132px;
    background: #F5FFFE;
    font-size: 12px;
    font-weight:bold;
}

#medicines{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 33px 23px;
    gap: 14px;
    width: 531px;
    height: 156px;
    left: 32px;
    top: 154px;
    border: 1px solid #1BA8C4;
    border-radius: 8px;
}

#posology{
    display: flex;
    flex-direction: column;
    margin: 4.2rem auto;
    padding: 20px 16px;
    gap: 8px;
    width: 485px;
    height: 52px;
    background: #F5FFFE;
    border: 1px solid #22B77E;
    border-radius: 4px;
}

#signature{
    width: 180px;
    height: 1px;
    margin: 5rem auto;
    background: #000000;
}

#logo{
    width: 595px;
    height: 32.5px;
    left: 0px;
    top: 810px;
    background: #22B77E;
}

#logo-img{
    width: 63px;
}